 // Colors
$primary-color: #3f51b5;
$secondary-color: #f44336;
$background-color: #f7f7f7;
$border-color: #ddd;
$home-button-color: #4CAF50;

// Mixins
@mixin flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

// Define styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
} 

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: $background-color;
}

h1, h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: $primary-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: $primary-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: $primary-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} */

button {
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 2rem;
  margin: 0 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

#easy-button, #medium-button, #hard-button {
  background-color: $primary-color;
  margin-bottom: 2rem;
}

#save-button {
  background-color: $secondary-color;
}

.home-button, .play-button {
  background-color: $home-button-color;
}

// Main Container
#main-container {
  @include flex-center-col();
  height: 100vh;
}
// Home container
#home-container {
@include flex-center-col;
  #buttons-wrapper {
    @include flex-center-row();
    button {
      background-color: $primary-color;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
    #highScore-button {
      background-color: $secondary-color;
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}
// Game container
#game-container {
  @include flex-center-col();
  #timer {
    font-size: 6rem;
    margin-bottom: 2rem; 
    color: $primary-color;
  }
  #equation {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  #user-input {
    @include flex-center-row();
    margin-top: 2rem;
    input[type="text"] {
      font-size: 3.2rem;
      padding: 1rem;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      flex-grow: 1;
      &:focus {
        outline: none;
        box-shadow: 0 0 2px $primary-color;
      }
    }
  }
}
// High Score Container
#highScore-container {
  @include flex-center-col;
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    th {
      font-size: 3rem;
      padding: 1rem;
      border-bottom: 1px solid $border-color;
    }
    td {
      font-size: 2rem;
      padding: 1rem;
      border-bottom: 1px solid $border-color;
    }
  }
  input[type="text"] {
    font-size: 3.2rem;
    padding: 1rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    flex-grow: 1;
    &:focus {
      outline: none;
      box-shadow: 0 0 2px $primary-color;
    }
  }
  .buttons-wrapper {
    @include flex-center-row();
    margin-top: 2rem;
  }
  #save-score {
    @include flex-center-col();
  }
}




      
  



