* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f7f7f7;
}

h1, h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: #3f51b5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #3f51b5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: $primary-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} */
button {
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 2rem;
  margin: 0 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

#easy-button, #medium-button, #hard-button {
  background-color: #3f51b5;
  margin-bottom: 2rem;
}

#save-button {
  background-color: #f44336;
}

.home-button, .play-button {
  background-color: #4CAF50;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#home-container #buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-container #buttons-wrapper button {
  background-color: #3f51b5;
}
#home-container #buttons-wrapper button:hover {
  background-color: #32408f;
}
#home-container #buttons-wrapper #highScore-button {
  background-color: #f44336;
}
#home-container #buttons-wrapper #highScore-button:hover {
  background-color: #ea1c0d;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#game-container #timer {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #3f51b5;
}
#game-container #equation {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
#game-container #user-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#game-container #user-input input[type=text] {
  font-size: 3.2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  flex-grow: 1;
}
#game-container #user-input input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 2px #3f51b5;
}

#highScore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#highScore-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
#highScore-container table th {
  font-size: 2.4rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
#highScore-container table td {
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
#highScore-container input[type=text] {
  font-size: 3.2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  flex-grow: 1;
}
#highScore-container input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 2px #3f51b5;
}
#highScore-container .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#highScore-container #save-score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */